*{
    margin: 0;
    top: 0;
}
body{
    background-image: url(img67.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.cabecario{
    background-color: #3761bd;
    height: 150px;
    border-radius: 10px;
    font-family: arial;
}
h1{
    padding-top: 40px;
    font-size: 50px;
    text-align: center;
}
h2{
    padding-bottom: 4px;
    font-size: 40px;
    font-family: arial;

}
.box{
    box-shadow: 0px 4px 10px ;
    display: flexbox;
    justify-self: center;
    margin-top: 100px;
    border: 2px solid #062e85;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background-color: #7699e4;
   
}

.box p{
    margin-bottom: 30px;
    font-size: 20px;
    font-family: arial;
}
button{
    width: 100%;
    height: 40px;
    border: 10px sodid #040d20;
    text-align: center;
    border-radius: 10px;
    background-color: #05359a;
    font-size: 18px;
    padding: 2px;
    font-family: arial;


}
button:hover{
    background-color:#214fb2;
    color: #120C0D;
    cursor: pointer;
    transform: scale(1.1);
}